<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>EDIT/UPDATE YOUR POST CONTENTS</h1>
    <div>
      <form method="POST" action="/posts/<%=post.id%>?_method=PATCH">
        <h2>username=<%=post.username%></h2>
        <h2>ID=<%=post.id%></h2>
	content:<textarea placeholder="enter new content" name="content"><%=post.content%></textarea><br>
	<button>submit</button>        
      </form>
	</div>
    <script src="script.js"></script>
</body>
</html>

