<!DOCTYPE html> <html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="bgg">
   
    <h1>create your qquora post</h1>
	<div>
    <form method="post" action=/posts>
      id:<input placeholder="enter id" name=id><br><br>
	post:<input placeholder="enter the author name" name="username"><br><br>
      content:<textarea placeholder="enter content" name="content"></textarea><br>
              <button>submit</button> 
	</div>
</form>
<script src="index.js"></script>
</body>
</html>

